<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                   <label for="name">Name</label>
                   <input type="text" id="name" name="name" class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                   <label for="amount">Amount</label>
                   <input type="number" id="amount" name="amount" class="form-control">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success me-2">Add</button>
                    <button type="button" class="btn btn-danger me-2">Delete Item</button>
                    <button type="button" class="btn btn-primary">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>